footer {
  text-align: center;
  font-size: 8px;
  color: rgba(75, 74, 74, 0.192);
}

a {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.493);
  margin: 3px;
}

a:hover {
  color: beige;
}

.git {
  font-size: 10px;
}
